:root {
  --nonHover: #fff;
}

.display {
  position: absolute;
  z-index: 3;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 30%;
  width: 45%;
  margin-left: 25px;
  border: 1px solid darkgray;
}

.priceDescr {
  user-select: none;
  width: 80%;
  text-align: right;
  float: right;
  padding-right: 5px;
  padding-top: 15px;

  color: var(--nonHover);
}
.priceTag {
  user-select: none;
  width: 70px;
  border-right: 1px solid darkgray;
  text-align: right;
  padding-right: 5px;
  float: left;
  padding-top: 15px;

  color: var(--nonHover);
}

.priceDescr-selected {
  user-select: none;
  width: 80%;
  text-align: right;
  float: right;
  padding-right: 5px;
  padding-top: 15px;

  color: #ff7f7f;
}
.priceTag-selected {
  user-select: none;
  width: 70px;
  border-right: 1px solid darkgray;
  text-align: right;
  padding-right: 5px;
  float: left;
  padding-top: 15px;

  color: #ff7f7f;
}

.priceSum {
  position: absolute;
  user-select: none;
  width: 40%;
  margin: 240px 10px;
  color: var(--nonHover);
}

.combinedDataDisplay {
  color: var(--nonHover);
  position: absolute;
  margin: 0 50%;
  width: 50%;
}

.clearState {
  cursor: pointer;
  float: right;
}

.priceInfo-Tabs {
  border-bottom: 1px solid darkgray;
  background-color: #444;
  position: sticky;
  top: 0;
}

.tabs {
  user-select: none;
  color: #fff;
  padding: 0px 10px;
  cursor: pointer;
  border-right: 1px solid darkgray;
}

.tabs-selected {
  user-select: none;
  color: #ff7f7f;
  padding: 0px 10px;
  cursor: pointer;
  border-right: 1px solid darkgray;
}
