:root {
  --nonHover: #fff;
}

.display {
  position: absolute;
  z-index: 3;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 30%;
  width: 45%;
  margin-left: 25px;
  border: 1px solid darkgray;
}

.priceDescr {
  /* vertical-align: middle; */
  display: inline-block;
  user-select: none;
  width: 80%;
  text-align: right;
  padding-right: 5px;
  padding: 10px 0;
  /* border-bottom: 1px solid darkgray; */

  color: var(--nonHover);
}
.priceTag {
  display: inline-block;
  user-select: none;
  width: 70px;
  border-right: 1px solid darkgray;
  /* border-bottom: 1px solid darkgray; */
  text-align: right;
  padding: 10px 5px;

  color: var(--nonHover);
}

.priceDescr-selected {
  display: inline-block;
  user-select: none;
  width: 80%;
  text-align: right;
  padding-right: 5px;
  padding: 10px 0;
  /* border-bottom: 1px solid darkgray; */

  color: #ff7f7f;
}
.priceTag-selected {
  display: inline-block;
  user-select: none;
  width: 70px;
  border-right: 1px solid darkgray;
  /* border-bottom: 1px solid darkgray; */
  text-align: right;
  padding: 10px 5px;

  color: #ff7f7f;
}

.priceSum {
  position: absolute;
  user-select: none;
  width: 40%;
  margin: 240px 10px;
  color: var(--nonHover);
}

.combinedDataDisplay {
  color: var(--nonHover);
  position: absolute;
  margin: 0 50%;
  width: 50%;
}

.clearState {
  cursor: pointer;
  float: right;
  padding: 0 20px;
  /* border: 1px solid #fff; */
}
.saveState {
  cursor: pointer;
  float: right;
  margin: 0 -20%;
  padding: 0 20px;
  /* border: 1px solid #fff; */
}

.priceInfo-Tabs {
  border-bottom: 1px solid darkgray;
  background-color: #444;
  position: sticky;
  top: 0;
}

.tabs {
  user-select: none;
  color: #fff;
  padding: 0px 10px;
  cursor: pointer;
  border-right: 1px solid darkgray;
}

.tabs-selected {
  user-select: none;
  color: #ff7f7f;
  padding: 0px 10px;
  cursor: pointer;
  border-right: 1px solid darkgray;
}

.description-title {
  text-transform: capitalize;
}
.description-text {
  position: absolute;
  border: 1px solid #fff;
  width: 50%;
  margin-top: 10px;
  padding: 10px 10px;
}
